@using System.Globalization
@using EventWeb.Models
@model EventWeb.ViewModels.GigsViewModel
@{
    ViewBag.Title = "Home Page";
}

<h2>@Model.Heading</h2>

@using (Html.BeginForm("Search", "Gigs"))
{
    <div class="form-group">
        <div class="input-group" id="searchGigs">
            @Html.TextBoxFor(m => m.SearchKey, new { @class = "form-control" })
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
            </span>
        </div>
    </div>
}

<ul id="gigs" class="gigs voffset">
    @foreach (var item in Model.UpComingGigs)
    {
        <li>
            <div class="date">
                <div class="month">
                    @item.DateTime.ToString("MMM", CultureInfo.CreateSpecificCulture("en-us"))
                </div>
                <div class="day">
                    @item.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                @if (item.IsCanceled)
                {
                    <span class="label label-warning pull-right">Canceled</span>
                }
                <span class="artist">
                    <a href="@Url.Action("Details", "Gigs", new {id = @item.Id})">
                        @item.Artist.Name
                    </a>
                    @if (Model.ShowData)
                    {
                        <button data-user-info="@item.ArtistId" class="pull-right btn btn-xs js-toggle-follow
                                @(Model.FollowingLookup.Contains(item.ArtistId) ? "btn-info": "btn-link")">
                            @(Model.FollowingLookup.Contains(item.ArtistId) ? "Following" : "Follow")
                        </button>
                    }
                </span>
                <span class="genre">
                    @item.Genre.Name
                    @if (Model.ShowData && !item.IsCanceled)
                    {
                        <button data-gig-info="@item.Id" class="pull-right btn btn-sm js-toggle-attendance
                                @(Model.AttendanceLookup.Contains(item.Id) ? "btn-info" : "btn-default ")">
                            @(Model.AttendanceLookup.Contains(item.Id) ? "Going" : "Going ?")
                        </button>
                    }
                </span>
            </div>
        </li>
    }
</ul>
@section scripts {
    <script>
        $(document).ready(function () {
            GigsController.init("#gigs");
            FollowingController.init("#gigs");
        });
    </script>
}